
#portfolio h2{
    font-size:3rem;
    text-align: center;
    padding-top:5rem;
}
.protfolio__container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:3rem;
    width: 60%;
    margin-top:5rem;
    margin-bottom:10rem;

}

.portfolio__item{
    background: var(--color-bg-card);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    background: linear-gradient(145deg, rgb(5, 131, 125), rgba(5, 38, 48, 0.74));
    box-shadow:  0px 0px 10px rgba(4, 158, 185, 0.76);
             
    z-index: 2;
    
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: rgba(37, 96, 151, 0.171);
    
    
}

.portfolio__img{
    overflow: hidden;
}

.protfolio__img img {
    border-radius: 10px;
    
}

.protfolio__info {
    margin: 1.2rem 0 2rem;
    

}
.protfolio__info p{
    color: var(--color-light);
}

.portfolio__cta{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1224px) {
    .protfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        

    }

}

@media screen and (max-width: 600px) {
    .protfolio__container{
        grid-template-columns: 1fr;
        gap: 2rem;
        

    }

}