
.imgen-portfolio{
    border-radius: 10px;
    border: 2px solid rgb(253, 253, 253);
    margin-top: 10px;
    opacity: 85%;
    
}

#portfolio h2{
    font-size:5rem;
    text-align: center;
    padding:3rem;
    text-shadow:  -2px -2px 10px rgba(4, 158, 185, 0.877),
                   2px 2px 10px rgba(2, 68, 80, 0.76),
                   0px 0px 10px rgb(8, 197, 230);
   
}
.protfolio__container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:3rem;
    width: 60%;
    padding-top:5%;
    margin-bottom:10rem;
}

.portfolio__item{
    background: var(--color-bg-card);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 3px solid var(--color-primary-variant);
    transition: var(--transition);
    background: linear-gradient(145deg, rgb(5, 131, 125), rgba(5, 38, 48, 0.74));
    box-shadow:  0px 0px 10px rgba(4, 158, 185, 0.76);

    z-index: 2;
    
}

.portfolio__item:hover{
  
    background: rgba(37, 96, 151, 0.171);
    
}


.protfolio__info {
    margin: 1.2rem 0 2rem;

}

.protfolio__info small{
    color: var(--color-light);
}

.portfolio__cta{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1440px) {
    .protfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 0.5rem;

    }

}

@media screen and (max-width: 600px) {
    .protfolio__container{
        grid-template-columns: 1fr;
        gap: 2rem;
        place-content: center;

    }
    #portfolio h2{
        
        padding:1rem;
    }

}