.contact__container{
    width: 70%; 
    display: grid;
    padding-top: 8%;
    grid-template-columns: 30% 58%;
    gap:12%;

}

h6{
    font-size: 75%;
    
}

.contact__options{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:center;
    
    gap: 3rem;
    z-index: 2;
    
    
}

.contact__option{
    background: var(--color-bg);
    padding:2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);

}

.contact_icon{
    font-size:2rem;
    width: 100%;

}

.contact__option a{
    margin-top: 0.7rem;
    display:inline-block;
    font-weight: bold;
    font-size:1rem ;
}


form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    z-index: 100;
}



#name,#email,#message{
    width: 100%;
    padding:1.5rem;
    border-radius: 0.5;
    background:transparent;
    border: 2px solid var(--color-primary-variant);
    resize:none;
    color: var(--color-white);
    z-index: 100;
}


.textArea{
    height: 300px;
}

label{
    border-radius: 5px;
}
@media screen and (max-width: 1440px) {
    .container.contact__container{
        padding-top: 6%;
        
    }
    #name,#email,#message{
        padding:.5rem;
    }
    .textArea{
        height: 100px;
    }
    .contact__option{
        padding:.5rem;
    }
}


@media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap:2rem;
        padding-bottom: 20vh;
    }
}

@media screen and (max-width: 600px) {
   .container.contact__container{
        width: var(--container-width-sm);
        padding-bottom: 20vh;
    }
}